div.row div{
    border: 3px solid rgb(83, 83, 83);
    background-color: rgb(255, 157, 144);
    text-align: center;
    color: rgb(83, 83, 83);
    font-family: serif;
    font-size: medium;
}
.jumbotron{
    text-align: center;
    border: 3px solid rgb(83, 83, 83);
    background-color: rgb(255, 157, 144);
    color: rgb(83, 83, 83);
    font-family: serif;
    font-size: medium;
}