div.row div{
    border: 3px solid rgb(167, 205, 255);
    background-color: rgba(205, 239, 255, 0.74);
    text-align: center;
    color: rgb(83, 83, 83);
    font-family: serif;
    font-size: medium;
}

.jumbotron{
    background-image: url("./img/ProfilePicture.jpg");
    background-size: cover;
    background-size: contain;
    font-family: serif;
    font-size: medium;
    text-align: center;
    color:rgb(167, 205, 255);
    border: 3px solid rgb(167, 205, 255);
}

div.row img{
    height:300px;
    width:400px;
}

#nav{
    background-color:rgb(173, 236, 255)
}